@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
// font-family: 'Archivo', 'Noto Sans KR', sans-serif;
// font-family: 'Noto Sans KR', sans-serif;

@mixin neon_line {
	position: absolute;
	filter: drop-shadow(0px 0px 10px rgb(241, 149, 189, 0.8));
}

@mixin stars {
	.stars-bg {
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 1;

		.stars {
			background: #fff;
			
			border-radius: 50%;
			position: absolute;
			box-shadow: 0 0 0px #fff, 0 0 0px #fff, 0 0 21px #fff, 0 0 4px #ffffff, 0 0 6px #ffffff;
			// 1~5s 사이 값 전달하기
			// transition: 3s;
			// 애니메이션으로 0부터 1까지 주기
			animation: staropa var(--randomtransition) linear infinite;
			left: var(--randomstarsleft);
			top: var(--randomstarstop);
		}

		@keyframes staropa {
			0% {
				opacity: 1;
			}
			50% {
				opacity: 0;
			}
			100% {
				opacity: 1;
			}
		}
	}
}

@mixin info-title {

    i {
        margin-right: 10px;
    }

    b {
        text-transform: capitalize; 
		font-size: 25px
    };
}

@mixin circle {

	.infoQ {

		.circle {
			width: 3px;
			height: 3px;
			border: 3px solid #ccc;
			display: inline-block;
			border-radius: 50%;
			margin-right: 5px;
		}

		p {
			display: inline-block;
			margin-right: 20px;
			text-transform: capitalize;
			font-size: 12px;
		}
	}

}
@mixin tag {
	.skills {
		padding: 6px 12px;
		border: 1px solid #ababab;
		border-radius: 10px;
		margin-right: 15px;
		display: inline-block;
		font-size: 11px;
		box-shadow: 2.5px 2px 3px #d5d5d5;
		text-transform: uppercase;

	}
}


* {
    margin: 0;
    padding: 0;
    font-family: 'Archivo', 'Noto Sans KR', sans-serif;
	letter-spacing: 0.1em;
}

li, ol, ul {
    list-style: none;
}

a {
    text-decoration: none;

}

